.git
.github
node_modules/
vendor/
public/build/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
docker/
*.md
docker-compose.yml
python_worker/venv/
python_worker/__pycache__/
